<p>{{title}}</p>

<div>
  <ng-container *ngIf="!dataUtils.trainingSamples && dataUtils.loading; else train">
    Preparing data...
  </ng-container>

  <ng-container *ngIf="dataUtils.training && !dataUtils.trained; else trained">
    Training... {{progress}}
  </ng-container>
  <ng-template #trained>
    <ng-container *ngIf="dataUtils.trained">
      Trained successfully.
    </ng-container>
  </ng-template>

  <ng-template #train>
    <button (click)="onTrain()">
      Train
    </button>
    <button (click)="onTest()">
      Test
    </button>
  </ng-template>

  <errors-chart [lineChartData]="dataUtils.lineChartData"
                [lineChartLabels]="dataUtils.lineChartLabels"
  ></errors-chart>
</div>
